  {{!-- <ui-loader loading="{{isLoading}}"></ui-loader> --}}
<div class="min-h-screen grid grid-rows-layout bg-slate-800">
  <div class="flex justify-between items-center h-24 py-5 px-24 bg-purple-100">
    <button class="border border-lime-950 p-2 rounded-lg">
      <i class="icon-arrow-big-left text-indigo-500 w-5 h-5"></i>
      <router-link href="${props.routes.userHome}" label="Back to Lobby" class="text-lime-950 text-xl"></router-link>
    </button>

    <nav class="flex items-center gap-8">
      <router-link href="${props.routes.userHome}" label="Mood Tracker" class="text-lime-950 text-xl"></router-link>
      <router-link href="${props.routes.userHome}" label="Diary" class="text-lime-950 text-xl"></router-link>
    </nav>
  </div>

  <div class="flex items-center justify-center">
    <div class="todo flex gap-4 mt-8 grid grid-cols-2 grid-cols-layout ">
      <div class="todo__col bg-slate-50 border border-lime-950 min-w-[300px] p-4 flex flex-col gap-4 rounded-lg h-[854px]">
        <div class="todo__col-name border-b-2 border-lime-950 p-4 flex items-center gap-4">
          <h3 class="text-2xl">Categories</h1>
          <i class="icon-badge-plus create-category"></i>
        </div>
        <div class="todo__categories space-y-4">
          {{#each categories}}
            <div
              class="{{this.category-color}} relative cursor-pointer rounded-md
              category flex items-center justify-center text-lg h-16 w-full border border-lime-950">
              <h2 class="text-2xl">{{this.title}}</h2>

              <i 
              data-title="{{this.title}}"
              data-id="{{this.id}}"
              class="delete-btn icon-badge-x absolute right-2 top-1"></i>
            </div>
          {{/each}}
        </div>
      </div>

      <div class="todo__col bg-slate-50 min-w-[300px] md:min-w-[1000px] border border-lime-950 p-4 w-full rounded-lg h-[854px] overflow-y-scroll ">
        <div class="todo__col-name border-b-2 border-lime-950 p-4 flex items-center gap-4">
          <h3 class="text-2xl">ToDo</h1>
          <i class="icon-badge-plus create-task"></i>
        </div>
        <div class="todo__tasks ">
          {{#each categories}}
          <div class="mt-3 pl-3">
            <h1 class="text-2xl mb-2">{{this.title}}</h1>
            <div class="w-full h-1 rounded-lg {{this.category-color}}"></div>
          </div>
            {{#each tasks}}
              <ui-task-card 
              data-id="{{this.id}}"
              title="{{this.title}}"
              description="{{this.description}}"
              category="{{this.category}}"
              ></ui-task-card>
            {{/each}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>

</div>